<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>G&P Soluciones - Files</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Iconic Font -->
    <link href="css/iconic-css/open-iconic-bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/navbar-top.css" rel="stylesheet">
</head>
<body>

    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">G&P Soluciones</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/console">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users">Usuarios</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/filemanager">Archivos <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{session_data.logged_user_name}}</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="#">Cerrar sesión</a>
                    </div>
                </li>
            </ul>
            <!--<form class="form-inline my-2 my-md-0">
                <input class="form-control" type="text" placeholder="Search" aria-label="Search">
            </form>-->
        </div>
    </nav>
    <br>
    <main role="main" class="container">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Archivos</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
                <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#fileModal">Subir archivo <span class="oi oi-plus" title="Crear Usuario" aria-hidden="true"></span></button>
            </div>
        </div>

        <table class="table table-striped table-hover table-sm">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">VERSIÓN</th>
                    <th scope="col">DESCRIPCIÓN</th>
                    <th scope="col">ARCHIVO</th>
                    <th scope="col">FECHA DE CREACIÓN</th>
                    <th scope="col">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                {% for file in files %}
                <tr>
                    <th scope="row">{{file.id}}</th>
                    <td>{{file.version}}</td>
                    <td>{{file.description}}</td>
                    <td>{{file.path}}</td>
                    <td>{{file.creation_date}}</td>
                    <td>
                        <a class="btn btn-outline-secondary btn-sm" target="_blank" href="/files/{{file.path}}"><span class="oi oi-data-transfer-download"></span></a>
                        <!--<button type="button" class="btn btn-outline-secondary btn-sm"><span class="oi oi-data-transfer-download"></span></button>-->
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Modal Files -->
        <div class="modal fade" id="fileModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Subir archivo</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form id="frm_user" method="post" action="filemanager/create-modify-file" enctype="multipart/form-data">
                    <div class="modal-body">
                        
                            <div class="form-group">
                                <!--<label for="txt_user_id">ID Usuario:</label>-->
                                <input type="text" class="form-control" id="txt_file_id" name="txt_file_id" placeholder="ID Archivo" disabled>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="txt_version" name="txt_version" placeholder="Versión">
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" id="txa_description" name="txa_description" placeholder="Descripción"></textarea>
                            </div>
                            <div class="form-group">
                                <input type="file" class="form-control-file" id="file" name="file">
                            </div>
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <input type="submit" id="btn_send_form" name="btn_send_form" class="btn btn-primary" value="Subir">
                    </div>
                    </form>
                </div>
            </div>
        </div>

    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
